body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;}

.line{
    display:flex;
}

.seat{
    width: 30px;
    height: 30px;
    background-color: rgb(124,120,120);
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    justify-content: center;
}
.seat:nth-child(2){
    margin-right: 20px;
}
span{
    color: #fff;
}
.info{
    margin-top: 20px;
}
.select{
    background-color: green;
}
.add{
    background-color: red;
}